<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Your Answer</h3>
                </div>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
{#                            <label for="id_{{ field.name }}">{{ field.label }}</label>#}
                            {{ field }}
                        </div>
                    {% endfor %}
                    {#                    <div class="form-group">#}
                    {#                        <textarea class="form-control" rows="7"#}
                    {#                                  name="body"></textarea>#}
                    {#                        <div class="invalid-feedback">#}
                    {#                            <strong></strong>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-outline-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>