<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>{{ answers.count }} answers</h2>
                </div>
                <hr>

                {% for answer in answers %}
                    <div class="media">
                        <div class="d-fex flex-column vote-controls">
{#                            <a title="This answer is useful"#}
{#                               class="vote-up">#}
{#                                <i class="fas fa-caret-up fa-3x"></i>#}
{#                            </a>#}
{#                            <form id="up-vote-answer"#}
{#                                  action="/answers/" method="POST" style="display:none;">#}
{#                                <input type="hidden" name="vote" value="1">#}
{#                            </form>#}
{##}
{#                            <span class="votes-count">2</span>#}
{##}
{#                            <a title="This answer is not useful"#}
{#                               class="vote-down">#}
{#                                <i class="fas fa-caret-down fa-3x"></i>#}
{#                            </a>#}
{#                            <form id="down-vote-answer-"#}
{#                                  action="/answers//vote" method="POST" style="display:none;">#}
{#                                <input type="hidden" name="vote" value="-1">#}
{#                            </form>#}
                            {% if request.user == question.user and question.best_answer_id == null %}
                            <a title="Mark this answer as best answer" class="mt-2"
                               onclick="event.preventDefault(); document.getElementById('accept-answer-{{ answer.id }}').submit();"
                            >
                                <i class="fas fa-check fa-2x"></i>
                            </a>
                            <form action="{% url 'qa:mark-as-best' question.id answer.id %}" id="accept-answer-{{ answer.id }}" method="post" style="display: none">
                            {% csrf_token %}
                            </form>
                            {% endif %}
                            {% if question.best_answer_id == answer.id %}
                                <a style="color: yellow;" title="Question owner accepted this answer as best answer" class=" mt-2">
                                    <i class="fas fa-check fa-2x"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="media-body">
                            {{ answer.body | safe }}

                            <div class="row">

                                <div class="col-4">
                                    <div class="ml-auto" style="margin-top: 10px">
                                        {% if answer.user.id == request.user.id %}
                                            <a href="#" class="btn btn-sm btn-outline-info">Edit</a>
                                            <form class="form-delete" method="post"
                                                  action="">
                                                {% csrf_token %}
                                                <button type="button" class="btn btn-sm btn-outline-danger"
                                                        onclick="return confirm('Are you sure?')">Delete
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <span class="text-muted">Answered by {{ answer.created_at|timesince }} ago</span>
                                    <div class="media mt-2">
                                        <a href="" class="pr-2">
                                            <img src="{{ "https://www.gravatar.com/avatar/{}?s=32" }}">
                                        </a>
                                        <div class="media-body mt-1">
                                            <a href="">{{ answer.user.username }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>