Django==2.1.7
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-seed==0.1.9
djangorestframework==3.9.1
djangorestframework-simplejwt==3.3
Faker==1.0.2
PyJWT==1.7.1
python-dateutil==2.8.0
pytz==2018.9
six==1.12.0
text-unidecode==1.2
whitenoise==4.1.2
gunicorn
