{% extends 'base.html' %}

{% block title %} {{ title }}{{ block.super }}{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h2>All Questions</h2>
                            <div class="ml-auto">
                                <a href="{% url 'qa:questions-create' %}" class="btn btn-outline-secondary">Ask
                                    Question</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        {#@include ('layouts._messages')#}

                        {% if questions %}

                            {% for question in questions %}
                                {% include 'questions/excerpt.html' %}
                            {% endfor %}

                        {% else %}
                            <div class="alert alert-warning">
                                <strong>Sorry</strong> There are no questions available.
                            </div>
                        {% endif %}

                        <div class="row justify-content-center" style="margin-top: 20px">
                            {% if is_paginated %}
                                <nav>
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                        {% endif %}
                                        {% for i in page_obj.paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">
                                                        {{ i }} <span class="sr-only">(current)</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}